.social-links {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 50%;
    margin: center;
    margin-left: auto;
    margin-right: auto;
    ;

}

/* Base button */
.social-links a {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 18px;
    border-radius: 10px;

    background: #111827;
    color: #e5e7eb;

    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-shadow: black 5px 5px 5px;

    border: 1px solid #1f2933;

    opacity: 0;
    transform: translateY(10px);

    transition:
        background 0.3s ease,
        transform 0.3s ease,
        opacity 0.4s ease;
}

/* Icons */
.social-links i {
    font-size: 16px;
}

/* Hover */
.social-links a:hover {
    background: #1f2937;
    transform: translateY(-3px);
}

/* Fade-in animation */
.social-links a:nth-child(1) {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.1s;
}
.social-links a:nth-child(2) {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.2s;
}
.social-links a:nth-child(3) {
    animation: fadeUp 0.4s ease forwards;
    animation-delay: 0.3s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.social-links .fa-github {
    font-size: 17px;
}
